<div class="container text-center">
  <h1 style="color: orange;", class="display-4">PZeey!</h1>
  <h2 style="color: orange;",class="lead">あそびをシェアして新たなあそびを見つけよう！</h2>
  <div class="d-flex justify-content-center gap-2">
    <% unless user_signed_in? %>
    <a href="<%= new_user_registration_path %>" class="btn btn-info btn-lg mb-2">登録して投稿する</a>
    <% end %>
    <a href="<%= posts_path %>" class="btn btn-warning btn-lg mb-2">まずは閲覧</a>
  </div>
</div>
